<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <title>Grumblr</title>
  </head>

  <header>
    <div class="DEBUG-MENU-KNOB rounded-pill"></div>
    <div class="d-flex justify-content-center align-items-center py-2 gap-2">
      <span>debug:</span>
      <form action="/" method="post">
        <input class="btn btn-outline-light rounded-pill" type="submit" value="Home">
      </form>
      <form action="/profile" method="post">
        <input class="btn btn-outline-light rounded-pill" type="submit" value="Profile">
      </form>
      <form action="/editor" method="post">
        <input class="btn btn-outline-light rounded-pill" type="submit" value="Editor">
      </form>
    </div>
    
  </header>

  <body>
    <nav class="navbar navbar-expand-sm  sticky-top mb-3 px-1" aria-label="Third navbar example">
      <div class="container-fluid justify-content-between">
        
        <a class="navbar-brand text-decoration-none" href="/"><img class="rounded-circle" src="img/logo32.png" alt="" srcset="img/logo32.png, img/logo300.png">Grumblr</a>
        
        <div class="d-flex flex-row gap-2">
          <div class="collapse navbar-collapse justify-content-end align-self-center gap-2">
            <form role="search">
              <input class="form-control rounded-pill" type="search" placeholder="Search" aria-label="Search">
            </form>
          </div>

          <form class="align-self-center" action="/profile" method="GET">
            <img class="PROFILE-IMG HIGHLIGHT" src="img/pfp92x92.jpg" alt="profile picture" type="submit">
          </form>

          <button class="navbar-toggler rounded-circle m-0 align-self-center" type="button" data-bs-toggle="collapse" data-bs-target="nav>div.container-fluid div.collapse.navbar-collapse" aria-controls="nav>div.container-fluid div.collapse.navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
    </nav>
