<%- include('partials/header.ejs') %>
<h1>meow</h1><a href="/">meow</a><p>ok</p>

<form action="/profile" method="POST">
  <input type="submit" value="My Profile">
</form>

<form action="/editor" method="POST">
  <input type="submit" value="Create Post">
</form>


<%- include('partials/footer.ejs') %>

