.PROFILE-BACK{
  border-right: 1px solid var(--c-alert);
}

.PROFILE-POST{
  border-left: 1px solid var(--c-alert);
}

.BTN-RESET{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

/* form.COLOR-PICKER button{
	width: 100%;
} */