
/* post.ejs !!! */
.END-OF-FEED{
  display:block;
  text-align: center;
  margin: 5rem auto;
  color: var(--c-alert)
}

/* .END-OF-FEED h3{
  color: var(--c-alert)
} */

.END-OF-FEED svg{
  color: var(--c-main)
}




footer{
  background: var(--c-main);
  border-top: 3px solid var(--c-alert);
  box-shadow: 0 -5px 10px 0px var(--c-dark);
  margin-top: 1rem;
}