header{
  overflow: hidden;
  
  max-height: 8px;
  transition: max-height 250ms 0s ease-in;

  background: var(--c-dark);
}

header:hover{
  max-height: 88px;
  transition: max-height 250ms 0s ease-out;
}

header>div.DEBUG-MENU-KNOB{
  opacity: 0.3;
  width: 1rem;
  height: 4px;
  margin: 2px auto;
  background: var(--c-light);
}

header:hover>div.DEBUG-MENU-KNOB{
  opacity: 0;
}

header>div:last-child{
  border-top: 1px solid var(--c-light);
  border-bottom: 1px solid var(--c-light);
  
  min-width: 340px;
  width: 50%;
  max-width: 500px;
  
  margin: calc(1rem - 8px) auto 1rem auto;
}

nav{
  color: var(--c-light);
  background: var(--c-main);
  border-bottom: 3px solid var(--c-alert);
  box-shadow: 0 5px 10px 0px var(--c-dark);
}

nav a.navbar-brand{
  color: var(--c-light);
}

nav a.navbar-brand:hover{
  color: var(--c-light);
}

nav input[type="search"]:focus{
  border: 2px solid var(--c-alert);
  box-shadow: 0 0 0 .2rem rgba(198, 168, 105, 0.4);
}

button.navbar-toggler{
  --v-padding: calc(0.375rem + 1px);
  border: 1px solid transparent;
  background-color: var(--c-alert);
  height: calc(1.5rem + var(--v-padding) * 2);
  min-width: calc(1.5rem + var(--v-padding) * 2);
  padding: calc(var(--v-padding) - 1px) ;
}

button.navbar-toggler:focus{
  border: 1px solid var(--c-light);
  box-shadow: 0 0 1px 2px var(--c-light);
  transition: box-shadow 300ms 0s ease-out;
}

nav svg.fa-magnifying-glass{
  color: var(--c-light);
}
