@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
  --c-main: #597E52;
  --c-main-subtle: #384935;
  --c-alert: #C6A969;
  --c-alert-subtle: #64522c;
  --c-dark: #273329;
  --c-dark-subtle: #161616;
  --c-light: #FFFFEC;
  --c-highlight: #F1E4C3;

  --c-liked: #dfa3a4;
  font-size: 12pt;
  
}

body{
  font-family: 'Lexend', Tahoma, sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

  background-color: var(--c-dark);
  color: var(--c-light);

}

a{
  color: var(--c-alert);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:active{
  color: var(--c-alert-subtle)
}

h1, h2, h3{
  font-family: 'Oswald', 'Arial Narrow Bold', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header{
  display:flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

main {
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  max-width: calc(100vw - 2rem);
}

article.POST{
  background-color: var(--c-main);
  border-bottom: 2px solid var(--c-alert);
  border-top: 2px solid var(--c-alert);
  border-left: none;
  border-right: none;
  border-radius: 6px;
  color: var(--c-light);
}

article.POST > img{
  width:100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

article.POST p.TAGS{
  color: var(--c-light);
  font-size: 0.9rem;
  opacity: 0.5;

}

/* article.POST section.TEXT-CONTENT{
  padding: 1rem;
} */

img.PROFILE-IMG{
  border-radius: 50%;
  border: 2px solid var(--c-light);
  
  width: 3rem;
  height: 3rem;
}
/* article.POST section.INTERACT{
  padding: 1rem;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  
} */

article.POST form{
  align-self: stretch;
  display: flex;
  align-items: center;
  
}

article.POST input.FOLLOW-BTN{
  font-size: 0.5rem;
  background: transparent;
  border: 1px solid var(--c-light);
  border-radius: 24% / 50%;
  padding: .2rem .6rem;
  color: var(--c-light);
}

article.POST div.LIKE-BTN{
  align-self: stretch;
  padding-left: 2rem;
  padding-right: 1rem;
  /* border: 1px solid yellow; */
}

/* article.POST img.LIKE-BTN-LIKED{
  color: red;
} */

article.POST img.like-button-img{
  width: 6vw;
  /* background-color: red; */
}