@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import 'header.css';
@import 'footer.css';
@import 'post.css';
@import 'profile.css';
@import 'editor.css';

@import 'animations.css';

:root{
  --c-main: #597E52;
  --c-main-subtle: #384935;
  --c-alert: #C6A969;
  --c-alert-subtle: #64522c;
  --c-dark: #273329;
  --c-dark-subtle: #161616;
  --c-light: #FFFFEC;
  --c-highlight: #F1E4C3;
  --c-liked: #dfa3a4;

  font-size: 12pt;
  
}

@media (min-width: 550px) {
  :root{
    font-size: 14pt;
  }
}

@media (max-width: 340px) {
  :root{
    font-size: 10pt;
  }
}

body{
  background-color: var(--c-dark);
  color: var(--c-light);
}

body *{
  font-family: 'Lexend', Tahoma, sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h1, h2, h3{
  font-family: 'Oswald', 'Arial Narrow Bold', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

main {
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  width: calc(100vw - 2rem);
  max-width: 650px;
}

a{
  color: var(--c-alert);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:active{
  color: var(--c-alert-subtle)
}

img.PROFILE-IMG{
  border-radius: 50%;
  border: 2px solid var(--c-light);
  
  width: 2.375rem;
  height: 2.375rem;
}

.POST{
  background-color: var(--c-main);

  border-bottom: 2px solid var(--c-alert);
  border-top: 2px solid var(--c-alert);
  border-left: none;
  border-right: none;
  
  color: var(--c-light);
}

*::grammar-error{
  text-decoration-color: var(--c-alert);
}